{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search '{{ query }}'
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <p><i>The search result for: {{ query }}</i></p>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <p><i>No. of pages found = {{ count }}</i> </p>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <br>
        <h2>Following pages found: </h2>
        <br>
        <ul>
            {% for entry in entries %}
                <li><a href="{% url 'pages' entry %}"><h3>{{ entry }}</h3></a></li>
            {% empty %}
                No pages found.
            {% endfor %}
        </ul>
    </div>
</div>
{{ page | safe}}
{% endblock %}
